---
layout: default
title: 모든 포스트
---

<!-- Featured posts
================================================== -->
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">앗! 이건 꼭 봐야 돼</span></h4>

<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% if post.featured == true %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>

<!-- Posts Index
================================================== -->
<h4 class="mt-5 mb-neg-30"><span class="text-capitalize text-small badge badge-primary">모든 포스트</span></h4>

<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

