---
title: "Tags"
layout: default
permalink: "/tags.html"
---

<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

{% for tag in site.tags %}
<h4 class="mt-5 mb-neg-30" id="{{ tag[0] | replace: " ","-" }}"><span class="text-capitalize text-small badge badge-primary">{{ tag[0] }}</span></h4>
<div class="blog-grid-container-one-column">
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox-minimized.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endfor %}
